.app-vid {
    height: 100vh;
    position: relative;
}

.app-vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vid-icons {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.676);
}

@media screen and (max-width: 650px) {
    .app-vid {
        height: 60vh;
    }
    
    .app-vid video {
        height: 100%;
    }
}